.short-statistics__wrapper {
  display: flex;
  flex-direction: column;
  margin: $space-md auto;
  max-width: 600px;
  padding: $space-xs;
}

.completed {
  background-image: url('../assets/images/completed.png');
  height: 100px;
  margin: 0 auto;
  width: 100px;
}

.short-statistics__title {
  margin: $space-xs 0;
  text-align: center;
}

.data__text {
  border-bottom: 1px solid $colorBorder;
  display: flex;
  font-size: 1.3rem;
  justify-content: space-between;
  margin: $space-xxs 0;
  & span {
    margin: $space-xxs 0;
  }
}
