.rs-notification {
  position: fixed;
  right: 20px;
  bottom: 10px;
  z-index: 4;
  @media (max-width: 767px) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 90vw;
  }
  .toast-header img {
    opacity: 0;
  }
}
