$colorWhite: rgb(255, 255, 255);
$colorBlack: rgb(0, 0, 0);
$colorBlackTransparent: rgba(0, 0, 0, 0.5);
$colorBlue: rgb(0, 0, 255);
$colorRed: rgb(255, 0, 0);
$colorGrayLight: rgb(245, 245, 245);
$colorGrayTransparent1: rgba(143, 115, 96, 0.1);
$colorViolet: rgb(156, 39, 176);
$colorHover: rgb(255, 150, 64);
$colorPurple: rgb(128, 103, 169, 1);
$colorPink: rgb(162, 110, 143, 1);
$colorPinkDark: rgb(135, 92, 112, 1);

$space-xxs: 10px;
$space-xs: 20px;
$space-md: 50px;
$borderRadius5: 5px;
