$colorWhite: rgb(255, 255, 255);
$colorBlack: rgb(0, 0, 0);
$colorBlackTransparent: rgba(0, 0, 0, 0.5);
$colorBlue: rgb(0, 0, 255);
$colorRed: rgb(255, 0, 0);
$colorGrayLight: rgb(245, 245, 245);
$colorGrayTransparent1: rgba(143, 115, 96, 0.1);
$colorViolet: rgb(156, 39, 176);
$colorHover: rgb(255, 150, 64);
$colorField: rgb(238, 233, 221);
$colorPuzzle: rgb(214, 136, 179);
$colorPuzzleHover: rgb(218, 108, 169);

$space-xxs: 10px;
$space-xs: 20px;
$space-md: 50px;
$borderRadius5: 5px;
