$colorWhite: rgb(255, 255, 255);
$colorBlack: rgb(0, 0, 0);
$colorBlackTransparent: rgba(0, 0, 0, 0.5);
$colorBlue: rgb(0, 0, 255);
$colorRed: rgb(255, 0, 0);
$colorViolet: #9c27b0;
$colorHover: #ff9640;
$colorBorder: rgb(233, 236, 239);

$space-xxs: 10px;
$space-xs: 20px;
$space-md: 50px;
