.results-page {
  margin: 0 auto;
}

.picture-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;  
}

p.picture__title {
  margin: 20px;
  text-align: center;
}

.picture-container__picture {
  margin: 10px 0;
  display: block;
  align-self: center;
  width: 150px;
  height: 84px;
  background-size: cover;
}

.know {
  padding-left: 40px;
}

.know__title {  
  font-weight: 600;
}

.results__count {
  margin-left: 5px;
}

.results__sentence {
  margin: 0 0 20px 40px;
  position: relative;  
  height: 80px;
  margin: 10px;
  cursor: pointer;
}

.sentence__example, .sentence__translate {
  margin: 0;
  height: 40px;
}

.results__ico {
  position: absolute;
  top: -6px;
  left: -40px;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url('/assets/images/puzzle/audio.png');
}

.results__buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  & button {
    margin-left: 10px;
  }
}