.start__wrapper {
  background: url('../assets/images/puzzle/puzzle.jpg') no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.start__title {
  font-size: 2.3rem;
  margin: $space-md 0;
  text-align: center;
  text-transform: uppercase;
}

.start__description {
  font-weight: 600;
  margin: 0;
  text-align: center;
  &:last-of-type {
    margin-bottom: $space-md;
  }
}

button.start__button {
  align-self: center;
  background-color: $colorPuzzle;
  border-color: $colorPuzzle;
  font-weight: 600;
  width: 200px;
  &:hover {
    background-color: $colorPuzzleHover;
    border-color: $colorPuzzleHover;
  }
}
