.main_input_area {
  margin: 20px 0 20px 0;
}

.filter_button {
  margin-top: 20px;
}

.bottom_buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.small_icon {
  height: 40px;
  width: 40px;
}

.hide {
  opacity: 0;
}

.small_icon:hover {
  cursor: pointer;
}

.buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.small_img {
  height: 60px;
  object-fit: cover;
  width: 60px;
}

@media all and (max-width: 640px) {
  .button_div {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .buttons {
    align-items: center;
    justify-content: center;
  }
  .btn {
    width: 70vw;
  }

  .bottom_buttons {
    width: auto;
  }
}
