.header {
  background-color: $colorViolet;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  padding: $space-xxs;
  position: relative;
}

.header-link {
  color: $colorWhite;
  &:hover {
    color: $colorWhite;
    text-decoration: none;
  }
}

.header-title {
  font-size: 2rem;
  margin: 0;
}
