.preload-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: $colorBlackTransparent;
  z-index: 100500;
  &-hidden {
    display: none;
  }
}

.spinner-border {
  position: absolute;
  top: 45vh;
  left: 45vw;
}
