.swiper-container {
  margin: $space-md auto $space-xxs;
  width: 85%;
}

.swiper-slide {
  text-align: center;
}

.swiper-button-prev,
.swiper-button-next {
  outline: none;
  z-index: 2;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}
