.flex-position {
  flex-direction: column;
  justify-content: center;
}

.container-fluid {
  background: url('./../games/sprint/img/background.jpg');
  background-size: 100% 100%;
  color: rgb(0, 0, 0);
  font-family: 'Roboto', sans-serif;
  padding: 60px 110px;
}

.time {
  font-size: 48px;
  line-height: 56px;
  padding: 70px;
}

.question-card {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 20px;
  flex-direction: column;
  padding: 150px 0;
}

.answer-score__title {
  font-size: 30px;
  line-height: 35px;
}

.score-value {
  font-size: 85px;
  line-height: 100px;
}

.total-score__title {
  font-size: 36px;
  line-height: 42px;
}

#current-word {
  font-size: 64px;
  line-height: 75px;
  padding-bottom: 80px;
}

#current-word-translation {
  font-size: 48px;
  line-height: 56px;
}

.answer-buttons {
  display: flex;
  justify-content: center;
}

button {
  background: rgb(123, 81, 181);
  border-radius: 12px;
  color: rgba(255, 255, 255);
  font-size: 35px;
  font-weight: 500;
  height: 84px;
  line-height: 41px;
  width: 235px;

  &:hover {
    color: yellow;
    cursor: pointer;
  }
}

.question {
  margin-bottom: 70px;
}

.positive-button {
  margin-right: 100px;
}


@media (max-width: 660px) {
  .question {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  #current-word-translation  {
    font-size: 2rem;
  }

  #current-word {
    font-size: 2.5rem;
  }

  
}

@media (max-width: 500px) {
  .answer-buttons {
    flex-direction: column;
    align-items: center;
  }

  button {
    margin-bottom: 10px;
  }

  .positive-button {
    margin-right: 0;
  }

}
